.flex{
  display: flex;
}
.flexColumn{
  flex-direction: column;
}
.justify-center{
justify-content: center;
}
.align-center{
  align-items: center;
  }
.grid{
  display: grid;
}
.grid-flow-col{
  grid-auto-flow:column;
}
.grid-3-col{
  grid-template-columns: 1fr 1fr 1fr;
}
.gap16{
  gap: 1.6rem;
}
.text-h1{
  font:var(--title-asap-lg);
 }
.text-h2{
  font:var(--title-asap-md);
 }
 .text{
  font:var(--title-asap-sm);
 }
 .text-sub{
  font:var(--subtitle-incosolata);
 }
 .text-maven16{
  font:var(--title-maven-md);
 }
 .text-maven{
  font:var(--title-maven);
 }
 .text-maven14{
  font:var(--title-maven-ms);
 }