
#app{
  grid-template-columns: 51.25% 48.75%;
  /* PARA TUDOOO FUNCIONAR É ESSENCIAL TER 100VH!!!!!!!!!!!! */
  height: 100vh;
  /* garante que não tera barra de rolagem(transbordamento) */
  overflow: hidden;
  
}

main{
  padding: 6.4rem;
  overflow: auto;
  margin-left: auto;
  
  & .main-container{
    max-width: 52.8rem;
    /* border: 1px solid red; */
   
    &>p {
      font: var(--text);
    }
  }
  
  & .back{
    align-items: center;
    gap: .8rem;
    margin-bottom: 2.4rem;
  }
  & h1{
    font: 600 2.4rem/1.25 var(--font-poppins);
    margin-bottom: .8rem;
  }
}

aside{
  overflow: hidden;
  padding: 6.4rem;
  background-color: var(--surface-secondary);

  & .aside-container{
    max-width: 49.6rem;
    /* margin-right: auto; */
    & > img{
      height: auto;
      margin-top: 3.2rem;
    }
  }

  & h2{
    font: 600 4rem/1.25 var(--font-poppins);
    margin-bottom: .8rem;
    & span{
      color: var(--text-highlight);
    }
  }
}