*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  
  --brand-color: #EF5F4C;
  --background-color: #FFFFFF;
  --skeleton-clor: #D9D9D9;
  --surface-color: #F5F5F5
  --shape-transparency: #FFFFFF8f
  --vermelho: red;
  --text-color-primary: #313131;
  --text-color-secundary: #6C6C6C;

  --font-family: "Poppins", fantasy;
  /* short--> font: weight size/line-height font-family;  */
  --text-sm: 1.2rem/175% var(--font-family);
  /* 16*1.5=24px =150% */
  --text: 1.6rem/1.5 var(--font-family);
  --text-md: 1.4rem/170% var(--font-family);
  --text-lg: bold 3.2rem/125% var(--font-family);

}
body{
  font-size: 1.6rem;
  color: var(--text-color-secundary);
  background-color: var(--background-color);
}
a{
  /* TIRA O SUBLINHADO DO LINK */
  text-decoration: none;
  /* TIRA O AZUL HORRIVEL DO LINK E HERDA A COR DO PAI!!! */
  color: inherit;
}
a:hover{
  color: var(--brand-color);
  /* COLOCA A LINHA SOMENTE QUANDO A PESSOA PASSA O MOUSE SOBRE O LINK */
  text-decoration: underline;
}
.container{
  /* PADDING-INLINE AGE NO EIXO X, PODENDO TER 2 VALORES */
  padding-inline: 3.2rem;
  /* COM O MAX ELE VAI SEGURAR ATÉ O MAXIMO */
  max-width: 128rem;
  /*COMO margin-inline SÓ AGE NO EIXO X, ELE VAI DEIXAR A PÁGINA NO MEIO! */
  margin-inline: auto;
}
.bg-surface-color{
  background-color: var(--surface-color);
  /* background-color: red; */
}