header{
  display: flex;
  justify-content: space-between;
  padding-block: 3.6rem;  
}
.profile{
  display: flex;
  align-items: center;
  max-width: 59rem;
  gap: 3.2rem;
  /* border: 1px solid red; */
}
.profile img{
  width: 17.6rem;
  height: 17.6rem;
  /* CASO A IMAGEM NÃO SEJA QUADRADA, ELE IRA TENTAR AJUDAR */
  object-fit: cover;
  /* PARA GARANTIR QUE A FOTO QUE VENHA FIQUE COM AS BORDAS ARREDONDADAS */
  border-radius: 50%;
}
#about{
  max-width: 37rem;
  /* border: 1px solid black; */
  }
section#about h1{
  font: var(--text-lg);
  margin-bottom: .8rem;
  color: var(--text-color-primary);
}
section#about p{
  font: var(--text-md);
}
.info{
  display: flex;
  align-items: center;
  width: 28rem;
}
.info ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap:1.6rem;
}
.info ul li{
  display: flex;
  align-items: center;
  font: var(--text);
  gap:.8rem;
}
