main{
  padding-block: 2.4rem;
  /* max-width: 128rem; */
  min-width: 74rem;
  background-color: var(--skeleton-color);
  
  display: flex;
  flex-wrap: wrap;
  gap: 2.4rem;
}
main > img{
  width: 28.6rem;
  height: 28.6rem;
  object-fit: cover;
}