nav{
  /* height: 80px; */
  /* padding-block AGE NO EIXO Y, PODENDO TER 2 VALORES */
  padding-block: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* TIRA QUALQUER ESPAÇO EXTRA QUE TIVER USE BORDER PRA VER OS EXTRAS!! */
  line-height: 0; 
}
nav ul{
  /* border: 1px solid purple; */
  display: flex;
  list-style: none;
  gap: 1.6rem;
  align-items: center;
  text-decoration: none;
}
nav ul li{
  padding: .4rem;
  margin: .4rem;
  font: var(--text)

}
nav ul li:last-child{
  margin: 0;
  padding: 0;
}
nav ul li:last-child img{
  width: 4rem;
  height: 4rem;
}
