
body{
  text-align: center;
}
.container{
  margin: 64px auto;
  width: 626px;
   /* border: 1px solid red;  */
 }
#boxOne{
  width: 540px;
  height: auto;
  font-size:large;
   /* border: 1px solid blue;  */
  margin: auto;
}
.container h1{
  font-family: "Dosis", sans-serif;
  font-weight: normal;
  color: #3F3D56
}
.container p{
  font-family: "Dosis", sans-serif;
  color: #828282;
  font-size:large;
}
#line{
  margin: 0 auto 10px;
  width: 391px;
  border: 1px solid #ECEFF2;
}
a{
  text-decoration: none;
  color: #3F3D56;
  font-family: "Open sans", sans-serif;
  font-weight: bold;
}
a +a {
  margin-left: 30px;
}
#boxTwo{
  /* border: 1px solid green; */
  width: 626px;
  margin: 0 auto 30px;
}
