button{
  all: unset;
  font-weight: 500;
  color: var(--text-highlight);
  padding: 1.2rem 2.4rem;
  border-radius: .8rem;
  cursor: pointer;
  text-align: center;

/* FAZER MATRICULAS */
&.btn-primary{
  color: white;
  background-color: var(--brand-dark);
  justify-content: center;

    /* SEMPRE QUE VC USAR O TECLADO, ATRAVÉS DO TAB É FOCUS!!! */
    &:hover,
    &:focus {
      background-color: var(--brand-mid);
    }
  }

/* SALVAR RESPOSTAS */
&.btn-secondary {
  margin-left: auto;
  border: 1px solid var(--text-highlight);

    /* SEMPRE QUE VC USAR O TECLADO, ATRAVÉS DO TAB É FOCUS!!! */
    &:hover,
    &:focus {
      outline: .5rem solid var(--surface-secondary);
      color: var(--brand-dark);
    }
  }
}